{% extends "shop/base.html" %}

{% load static %}
{% block title %}
	Your Shopping Cart
{% endblock %}

{% block content %}

<h1>Your Shopping Cart</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Remove</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
  	{% for item in cart %}
		{% with product=item.product %}
		    <tr>
		      <td>
				<a href="{{ product.get_absolute_url }}">
					<img src="{% if product.image %}
									{{ product.image.url }}
								{% else %}
									{% static "img/no_image.png" %}
								{% endif %}" style="width: 8rem; padding:0; margin:0;">
				</a>
		      </td>
		      <td>{{ product.name }}</td>
		      <td>
		      	<form action="{% url "cart:cart_add" product.id %}" method="POST">
		      		{{ item.update_quantity_form.quantity }}
		      		{{ item.update_quantity_form.update }}
		      		<input type="submit" value="Update" class="btn btn-primary btn-sm">
		      		{% csrf_token %}
		      	</form>
		      </td>
		      <td><a href="{% url "cart:cart_remove" product.id %}"">Remove</a></td>
		      <td><b>₹</b>{{ item.price }}</td>
		      <td><b>₹</b>{{ item.total_price }}</td>
		    </tr>
		{% endwith %}
	{% endfor %}
	<tr>
		<td>Total</td>
		<td colspan="4"></td>
		<td><b>₹</b>{{ cart.get_total_price }}</td>
	</tr>
  </tbody>
</table>
<p class="text-right">
	<a href="{% url "shop:product_list" %}" class="btn btn-primary">Continue Shopping</a>
	<a href="{% url "orders:order_create" %}" class="btn btn=btn-primary">Checkout</a>
</p>
<br><br><br>
{% endblock %}