### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
.pytest_cache

.env
*.sqlite3
*.ini

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# VirtualEnv
venv/*
