{% extends "shop/base.html" %}
{% load static %}

{% block title %}
	{{ product.name }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-4">
				<img src='
					{% if product.image %}
						{{ product.image.url }}
					{% else %}
						{% static "img/no_image.png" %}
					{% endif %}'
					style="width: 100%;">
		</div>
		<div class="col-4">
				<h5 class="dark">{{ product.name }}</h5>
				<a href="{{ product.category.get_absolute_url }}" class="badge badge-success">
					{{ product.category }}
				</a>

				<h6><b>₹</b> {{ product.price }}</h6>

				<form action="{% url 'cart:cart_add' product.id %}" method="POST">
					{{ cart_product_form }}
					{% csrf_token %}
					<input type="submit" value="Add to cart" class="btn btn-primary btn-sm">
				</form>
				<div class="jumbotron jumbotron-fluid">
					<div class="container">
						<p class="lead">
							{{ product.description|linebreaks }}
						</p>
					</div>
				</div>
		</div>
	</div>
{% endblock %}
<style>
a {
    color: #f4f4f4;
    text-decoration: none;
}
a:hover {
    color: #f4f4f4;
    text-decoration: none;
}
</style>